*{
	margin: 0px;
	padding: 0px;
}

body a
{
	text-decoration: none;
	color: black;
}
li{
	list-style: none;
}
.boss{
	min-height: 500px;
	/*background-color: #696868;*/
}
.boss .logo_reponsive{
	display: none;
}
.menu_0
{
	z-index: 1;
	background-color: white;
	height: 150px;
}
.menu_0 .logo img
{
	width: 100px;
	height: 60px;
}

.menu_0 .search{
	padding-top: 2%;
	padding-left: 10%;
}
.menu_0 .search input
{
	width: 200px;
	height: 25px;
	border-radius: 10px;
}
.menu_0 .search button
{
	height: 30px;
	width: 100px;
	border-radius: 15px;
	background-color: #1DC334;
	font-weight: bold;
	color: white;
}
.menu_0 .login
{
	padding-top: 2%;
}
.menu_0 .login .info
{
	color: #0E67C2;
}
.menu_0 .cart
{
	padding-top: 2%;
}
.menu_0 .cart img
{
	width: 50px;
}
.menu_0 .menu{
	margin-top: 20px;
	margin-bottom: 10px;
}
.menu>ul
{
	z-index: 1;
	min-height:50px;
}
.menu>ul>li
{
	float: left;
}
.menu ul li a{
	font-weight: bold;
	font-size: 20px;
	font-family: Times New Roman;
	display: block;
	line-height: 50px;
}
.menu>ul>li>a{
	
	text-align: center;
}
.menu>ul>li>a:hover
{
	transition: ease-in 0.3s;
	background-color: #050303;
	color: #FBF6F6;
}
.menu ul li .menu_1_1
{
	display: none;
	z-index: 1;
}
.menu ul li:hover .menu_1_1
{
	display: block;
}

.menu_1_1 li{
	background-color: #FACC40;
	border-bottom: 2px solid white;
}
.menu_1_1 li a{
	display: block;
	padding-left: 10px;
}
.menu_1_1 li:hover a
{
	transition: ease-in 0.3s;
	background-color: #5A5555;
	color: white;
}
.fixed{
	position: fixed;
	left: 0px;
	right: 0px;
	margin: 0px auto;
}
.banner
{
	z-index: 3;
}
.banner img
{
	height: 450px;
}
.main{
	margin-top: 40px;
}
.main .product{
	border-radius: 5px;
	float: left;
	margin-left: 60px;
	margin-top: 40px;
	border: 1px solid #643E3E;
}
.product .info_product .title_main_product{
	margin: 0px auto;
	text-align: 	center;
	padding: 5px 5px;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;/*hiển thị dấu ...*/
	 -webkit-line-clamp: 1; /*số dòng hiển thị*/
	 -webkit-box-orient: vertical;
     display: -webkit-box; /*kiểu hiển thị*/
}
.product .info_product .price_main_product{
	float: left;
	padding-left: 45px;
}
.product .info_product .price_old{
	color:  red;
	font-size: 15px;
	text-decoration: line-through;
}
.product .info_product .price_new{
	color: black;
	text-decoration: underline;
	font-weight: bold;
}
.product .info_product .price_sale{
	clear: both;
	text-align: center;
	color: #D91D1D;
	text-transform: capitalize;
	height: 10px;
}
.main .product_sale{
	clear: both;
}
.main .product > img{
	height: 250px;
	width: 99,5%;
	padding: 5px 5px;
	border-radius: 10px;
}
.product .quick_purchase{
	float: left;
	width: 50%;
	height: 40px;
	background: #E93434;
	display: block;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
}
.product button{
	width: 50%;
	height: 40px;
	text-align: center;
	font-weight: bold;
}
.bar_menu_reponsive{
	float: left;
	display: none;

}
.menu_reponsive{
	display: none;
}
.boss .home_user{
	width: 70%;
	margin:0px auto;
	padding-top: 20px;
	overflow: auto;
	margin-bottom: 50px;
}
.boss .home_user h3{
	text-align: center;
	color: #1568FF;
}
.boss .home_user .icon_signup{
	text-decoration: underline;

	color: red;
}
@media screen and (max-width: 991px){
	.menu_0{
		height: 300px;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 768px)
{	
	.boss .logo_reponsive{
		float: right;
		margin-top: 10px;
		margin-right: 40px;
	}
	.boss .logo_reponsive img{
		display: block;
		width: 80px;
	}
	.menu_0{
		
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 100%;
		width: 360px;
		max-width: 100%;
		margin-left: 0px;
		transform: translateX(-100%);
	}
	.menu_0 .logo{
		display: none;
	}
	.menu_0 .cart{
		position: absolute;
		margin-left: 150px;
		top: 20px;
   		width: 150px;
	}
	.menu_0 .login{
		position: absolute;
		top: 20px;
		width: 200px;
	}	
	.menu_0 .search{
		/*position: absolute;*/
		margin: 70px auto;
	}	
	.menu_reponsive{
		display: block;
		position: absolute;
		top: 20px;
		font-size: 30px;
		right: 10px;
	}	
	.bar_menu_reponsive{
		display: block;
		z-index: 1px;
		font-size: 30px;
		margin-top: 10px;
		margin-left: 10px;
	}
	.nav_input:checked ~ .menu_0{
		transform: translateX(0%);
	}
	.boss .banner{
		clear: both;
		margin-top: 70px;
	}
	.boss .home_user{
		padding-top: 60px;
		margin:0px auto;
		width: 100%;
	}
									

}
/*chi tiết sản phẩm*/
.detail_product{
	width: 900px;
	min-height: 800px;
	background-color: white;
	transform: translateX(-200%);
}
.check:checked ~ .detail_product{
	transform: translateX(0%);

}
.overlay_detail_prodcut{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.3);
}
.detail_product li{
	list-style: none;
}
.detail_product a{
	text-decoration: none;
}
.list_detail li{
	margin-top: 10px;
}
.select_size{
	position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0px auto;
	width:750px; 
	background: #D9D9D9;
	transform: translateX(-150%);
}
.nav_overlay{
	display: none;
	background-color: #DBDBDB;
	opacity: 0.2;
	width: 100%;
	height: 2000px;
}
.select_size i{
	margin-top: 0px ;
	margin-left: 670px;
	font-size: 40px;
	font-weight: bold;
}
.select_size img{
	width: 500px;
	display: flex;
	left: 100px;
}
.input_size:checked ~ .select_size{
	transform: translateY(0%);
	height: 100%;
	 overflow:auto;

}
.detail_product .float_left{
	float: left;
	margin-left: 20px;
	
}
.detail_product .float_left:first-child{
	margin-left: 0px;
}
.detail_product .list_detail{
	width: 80px;
}
.list_detail img{
	width: 50px;
	margin-left: 0px;
}
.detail_product .show_detail{
	width: 500px;
}
.show_detail img{
	width: 100%;
}
.detail_product .detail_cart{
	width: 300px;
}
.detail_cart .select-swap img{
	width: 3rem;
}
.detail_cart .select-swap .detail-swap button{
	width: 60px;
	height: 60px;
	margin-top: 10px;
	font-size: 20px;
	text-transform: capitalize;
	border: 1px solid #E5E2E2;

}
.detail-swap button i{
	display: none;
	list-style: none;
	color: red;
	background-color: white;
	width: 20px;
	text-shadow: 0.8px 0.8px 2px black;
} 
.input_radio:checked ~ .detail-swap .onclick_swap{
	display: block;
}
.detail_cart .size button{
	width: 40px;
	border: 1px solid #CBC6C6;
	height: 40px;
	font-weight: bold;
}
.detail_cart .tutorial_size{
	margin-top: 20px;
	background-color: #FBD150;
	height: 40px;
}
.detail_cart .tutorial_size{
	display: block;
	text-align: center;
	line-height: 40px;
	color: black;
	font-weight: bold;
	font-family: Time New Roman;
	font-size: 14px;
	text-transform: uppercase;

}
.detail_cart .tutorial_size:hover a{
	background-color: #FFFFFF;
	border: 1px solid #2F1212;
	color: #1B0C0C;
	text-shadow: 0.5px 0.5px 1px #E01212;
}
.detail_cart .select-quantity{
	margin-top: 20px;
}
.detail_cart .select-quantity button{
	width: 40px;
	height: 40px;
	border: 1px solid #CBC6C6;
}
.detail_cart .select-quantity button:last-child{
	margin-left: -5px;
}
.detail_cart .select-quantity input{
	text-align: center;
	width: 80px;
	height: 40px;
	border: 1px solid #CBC6C6;
	margin-left: -5px;
}
.detail_cart .add-to-cart{
	margin-top: 20px;
	width: 150px;
	height: 40px;
	background-color: #FFB70B;
	color: #FFFFFF;
	border: 1px solid #E0DADA;
}
.detail_cart .add-quick-cart{
	margin-top: 20px;
	width: 140px;
	height: 40px;
	background-color: #DB0E0E;
	color: #FFFFFF;
	border: 1px solid #E0DADA;
}
@media screen and (max-width: 768px){
	.list_detail{
		margin-top: 0px;
		min-width: 300px;
		margin-bottom: 10px;
	}
	.list_detail li {
		float: left;
		margin-left: 10px;
	}
	.list_detail li:first-child{
		margin-left: 0px;
	}
	.list_detail img{
		border-radius: 5px;
	}
	.show_detail img{
		width: 400px;
	}
}
.item{width: 500px;
	height: 500px;
	margin-top: 300px;
	background-color: red;
	/*transform: translateX();*/


}